.main-container {
	display: flex;
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	background-color: #1c2951;
}

#page-title {
	display: flex;
	align-items: center;
	flex-basis: 10%;

	padding: 0 1rem;
	color: azure;
}

.add-note-container {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 80%;
	gap: 1rem;
}

.error-message {
	display: none;
	flex-basis: 20%;
	text-align: center;
	color: red;
}

textarea {
	resize: none;
	outline: none;

	width: 30%;
	height: 80%;

	padding: 1rem;
}

textarea:focus {
	box-shadow: 0 0 16px lightskyblue;
}

.add-sticker-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;

	border-radius: 50%;

	font-size: 4rem;

	transition: 500ms;
	
	color: #274472;
	background-color: #c3d5e5;
}

.add-sticker-button:hover {
	background-color: rgb(157, 190, 218);
	transform: scale(105%);
	transition: 500ms;
}

.display-notes-container {
	flex-basis: 65%;
}

.notes-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 2rem;
	
	width: 90%;
	margin: auto;
}

.sticky-div {
	width: 18%;
	min-height: 200px;
}